<h1>Defect Snapshot</h1>
<p>Get the defect snapshot</p>
<button id="getdatabtn" onclick="getsnapshotdata()">Get Data</button>

<div id="total_open_container" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
<div id="in_out_container" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
<div id="churn_container" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
<div id="owner_container" style="min-width: 310px; height: 500px; margin: 0 auto"></div>

<script type="text/javascript" >
	function getsnapshotdata() {
		$.ajax({
  				type: 'GET',
  				url:  '/getsnapshotdata',
  				data: {},
  				dataType : "json",
  				success: function (data) {
   					if (data.error) {
    					onsnapshoterror(data.error);
   					} 
   					else {
    					onsnapshotsuccess(data);
   					}
				}
			   });
	}
	
	function onsnapshoterror(error) {
	}

	function onsnapshotsuccess(data) {
        $('#total_open_container').highcharts({
            chart: {
                type: 'line',
                zoomType: 'xy'
             },
            title: {
                text: 'Total Open Defects'
            },
            subtitle: {
				text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' :
                    'Pinch the chart to zoom in'
            },
            xAxis: {
                categories: data.timestamps
            },
            yAxis: {
                title: {
                    text: 'Number of Defects'
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: true
                }
            },
            series: [{name: "Open", data: data.numopen}]
        });

        $('#in_out_container').highcharts({
            chart: {
                type: 'line',
                zoomType: 'xy'
             },
            title: {
                text: 'Incoming/Outgoing Defects'
            },
            subtitle: {
				text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' :
                    'Pinch the chart to zoom in'
            },
            xAxis: {
                categories: data.timestamps
            },
            yAxis: {
                title: {
                    text: 'Number of Defects'
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: true
                }
            },
            series: [{name: "Incoming", data: data.numin}, {name: "Outgoing", data: data.numout}]
        });

        $('#churn_container').highcharts({
            chart: {
                type: 'line',
                zoomType: 'xy'
             },
            title: {
                text: 'Churn (Reassigned Defects)'
            },
            subtitle: {
				text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' :
                    'Pinch the chart to zoom in'
            },
            xAxis: {
                categories: data.timestamps
            },
            yAxis: {
                title: {
                    text: 'Number of Defects'
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: true
                }
            },
            series: [{name: "Reassigned", data: data.numchurn}]
        });

        $('#owner_container').highcharts({
            chart: {
                type: 'line',
                zoomType: 'xy'
            },
            title: {
                text: 'Defect trend by owner'
            },
            subtitle: {
				text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' :
                    'Pinch the chart to zoom in'
            },
            xAxis: {
                categories: data.timestamps
            },
            yAxis: {
                title: {
                    text: 'Open Defects'
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: true
                }
            },
            series: data.ownerdata
        });
	}
</script>
